
/* GLOBAL TAGS */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;

  &::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 5px;
  }

  * {
    box-sizing: border-box;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin-top: 0;
}

button {
  outline: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

input {
  border: 0;
  outline: 0;
}


/* GLOBAL CLASSES */

.main-heading {
  font-size: 40px;
  font-weight: 100;
  font-family: 'Roboto';
  text-align: center;

  @media (max-width: $sm) {
    padding: 0 20px;
  }
}

.text-red {
  color: #ea4b35;
}

.text-bold {
  font-weight: 500;
}


/* CONTAINER */

.cont {
  width: 1320px;
  margin: 0 auto;

  @media (max-width: $xxl) {
    width: 1120px;
  }

  @media (max-width: $xl) {
    width: 912px;
  }

  @media (max-width: $lg) {
    width: 688px;
  }

  @media (max-width: $md) {
    width: 496px;
  }

  @media (max-width: $sm) {
    width: 100%;
  }
}
