.advantages-wrapper {
  display: flex;
  margin: 0 auto 15px;
  justify-content: center;
  font-weight: 300;
  color: #fff;

  .adv-item {
    font-size: 18px;
    line-height: 26px;
    padding-left: 65px;
    position: relative;

    &:nth-child(1) {
      width: 235px;
      margin-right: 55px;
      margin-left: 103px;
    }

    &:nth-child(2) {
      width: 255px;
      margin-right: 40px;
    }

    &:nth-child(3) {
      width: 255px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      height: 36px;
      width: 36px;
      background-color: #fcc033;
    }

    &:after {
      content: '';
      position: absolute;
      top: 17px;
      left: 7px;
      border: 2px solid #000;
      border-top: 0;
      border-right: 0;
      transform: rotate(-45deg);
      width: 18px;
      height: 10px;
    }
  }
}
