section.section-header
  div.top-bar
    div.cont
      div.logo
        img(src="img/logo.png" alt="Trudohod")
        | APM
      div.about Компания №1 на Российском рынке по адаптивному управлению персоналом
      div.phone
        a(href="tel:+79995333345") +7 (999) 533 33 45

  div.cont
    h1.main-heading У нас есть нужные Вам сотрудники!
    h2.sub-heading 56 мин.
    p.desc Наш рекорд по скорости предоставления сотрудника

    include includes/advantages.pug

    button.btn-get-info 
      span.desktop #[span.bold Узнайте,] как быстро мы сможем найти Вам сотрудника
      span.mobile Попробуйте
