section.section-services
  div.cont
    h2.main-heading Наша услуга для Вас, если Вы хотите:

    div.services-wrapper
      div.service
        div.service-heading Подобрать сотрудников
        div.service-desc Организовать подбор сотрудников в несколько раз быстрее за счет нашей активной базы;

      div.service
        div.service-heading Снизить затраты
        div.service-desc Снижения затрат на подбор, найм, управление и содержание персонала;

      div.service
        div.service-heading Решить стратегические задачи
        div.service-desc Освобождение кадровых ресурсов под решение стратегических задач:

      div.service
        div.service-heading 100% гарантию
        div.service-desc 100% гарантию безопасности от невыплаты заработной платы и прочих рисков;

      div.service
        div.service-heading Повысить инвестиции
        div.service-desc Повышения инвестиционной привлекательности вашей компании;

      div.service
        div.service-heading Снизить налоги
        div.service-desc Законного снижения налоговых выплат.
