section.section-how-it-works
  div.cont
    h2.main-heading Как это работает:

    div.items-wrapper
      div.item
        p.desc Оставьте заявку

      div.item
        p.desc Дождитесь звонка

      div.item
        p.desc Получите нового сотрудника

  div.note Все заботы по управлению и администрированию мы возьмем на себя
