section.section-request-form
  div.cont
    form.form-wrapper
      h2.heading Начни экономить уже&nbsp;сейчас!

      input.input.input-name(type="text" placeholder="Имя")
      input.input.input-company(type="text" placeholder="Наименование компании")
      input.input.input-phone(type="text" placeholder="Телефон")
      input.input.input-email(type="email" placeholder="e-mail")

      button.btn-send(type="button") Оставьте заявку

    include includes/advantages.pug
