section.section-header
  div.top-bar
    div.cont
      div.logo
        img(src="img/logo.png" alt="Trudohod")
        | APM
      div.about Компания №1 на Российском рынке по адаптивному управлению персоналом
      div.phone +7 (999) 533 33 45

  div.cont
    h1.main-heading У нас есть нужные Вам сотрудники!
    h2.sub-heading 56 мин.
    p.desc Наш рекорд по скорости предоставления сотрудника

    ul.key-adv
      li.adv-item Подбор сотрудника бесплатно
      li.adv-item Собственная система контроля персонала
      li.adv-item Отсутствие налоговых и других рисков

    button.btn-get-info #[span.bold Узнайте,] как быстро мы сможем найти Вам сотрудника
