footer.section-footer
  div.cont
    div.logo
      img(src="img/logo.png" alt="Trudohod")
      | APM

    div.phone
      a(href="tel:+79995333345") +7 (999) 533 33 45

    div.email
      a(href="mailto:info@apm1.ru") info@apm1.ru

    div.studio
      | Разработано в web - студии
      img(src="img/2up.png" alt="2UP")
