section.section-save-time.cont
  h2.main-heading Мы бережем Ваше время!

  p.desc
    | Сконцентрируйтесь на своем бизнесе, а не на том, как его обслуживать.
    br
    | Мы за короткое время укомплектуем Ваш штат нужными специалистами, а также возьмем на себя функцию администрирования персонала.
