.section-header {
  background-image: url('img/section-header-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  color: #fff;
  padding-top: 105px;
  background-color: #282828;
  position: relative;

  @media (max-width: 2560px) {
    background-size: cover;
  }

  .top-bar {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .cont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      font-size: 18px;
      font-weight: 700;
      padding-left: 50px;
      padding-right: 25px;

      .logo {
        display: flex;
        align-items: center;

        img {
          margin-right: 17px;
        }
      }

      .about {
        font-size: 17px;
        font-weight: 300;
      }
    }
  }

  .main-heading {
    margin-top: 0;
    margin-bottom: 35px;
  }

  .sub-heading {
    color: #f3c500;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }

  .desc {
    text-align: center;
    max-width: 250px;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto 45px;
  }

  .btn-get-info {
    background-color: #fcc033;
    border-radius: 35px;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    font-weight: 100;
    border: 0;
    padding: 0 32px;
    display: table;
    margin: 0 auto;
    transform: translateY(50%);

    .bold {
      font-weight: 400;
    }
  }
}
