.section-offer {
  text-align: left;
  font-size: 18px;

  .cont {
    padding-left: 250px;
  }

  .main-heading {
    text-align: left;
    margin-top: 0;
  }

  .desc {
    line-height: 26px;

    @media (max-width: $sm) {
      padding: 0 20px;
    }
  }

  .technology {
    padding: 80px 0 55px;

    .cont {
      @media (max-width: $xxl) {
        padding-left: 166px;
      }

      @media (max-width: $xl) {
        padding-left: 55px;
      }

      @media (max-width: $lg) {
        padding-left: 0;
        position: relative;
        left: -50px;
      }

      @media (max-width: 850px) {
        left: auto;
      }
    }

    .main-heading {
      max-width: 680px;
    }

    .sub-heading {
      font-size: 24px;
      font-weight: 500;

      @media (max-width: $sm) {
        padding: 0 20px;
      }
    }
  }

  .warning {
    background-color: #e7e7e7;

    .cont {
      padding-top: 55px;
      padding-bottom: 75px;
      background-image: url('img/exclamation.png');
      background-repeat: no-repeat;
      background-position: 65px center;

      @media (max-width: $md) {
        background-position: center 40px;
        padding: 230px 0 25px;
      }
    }
  }

  .scheme {
    background-color: #372d3b;
    padding: 40px 0 45px;
    color: #fff;

    .cont {
      @media (max-width: $lg) {
        padding-left: 80px;
      }

      @media (max-width: $md) {
        padding-left: 0;
      }
    }

    .main-heading {
      @media (max-width: 490px) {
        font-size: 30px;
      }

      @media (max-width: 380px) {
        font-size: 24px;
      }
    }

    .btn-more {
      padding: 0 30px;
      line-height: 50px;
      border-radius: 30px;
      font-size: 18px;
      font-weight: 300;
      color: inherit;
      background-color: #aa3c57;

      @media (max-width: $sm) {
        margin-left: 20px;
      }
    }
  }
}
