.section-request-form {
  background-image: url('img/request-form-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 150px;

  @media (max-width: $sm) {
    margin-top: 0;
  }

  .cont {
    padding: 330px 0 50px;
    position: relative;

    @media (max-width: $sm) {
      padding-top: 50px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .form-wrapper {
      padding: 39px;
      white-space: nowrap;
      background-color: #f3c500;
      display: flex;
      flex-direction: column;
      width: 360px;
      position: absolute;
      top: -148px;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: $sm) {
        transform: none;
        position: static;
      }

      @media (max-width: 360px) {
        width: 100%;
        padding: 35px 20px;
      }

      .heading {
        font-size: 20px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 30px;

        @media (max-width: 360px) {
          white-space: initial;
          font-size: 26px;
        }
      }

      .input {
        padding-left: 40px;
        padding-right: 14px;
        line-height: 46px;
        background-color: #fff;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-position: 14px 50%;
      }

      .input-name { background-image: url('img/request-form-icon-1.png'); }
      .input-company { background-image: url('img/request-form-icon-2.png'); background-position-x: 12px; }
      .input-phone { background-image: url('img/request-form-icon-3.png'); background-position-x: 13px; }
      .input-email { background-image: url('img/request-form-icon-4.png'); }

      .btn-send {
        background-color: #01a185;
        height: 46px;
        color: #fff;
        font-size: 14px;
      }
    }

    .advantages-wrapper {
      justify-content: space-between;
      padding: 0 20px 82px;

      @media (max-width: $sm) {
        padding: 0;
        width: 360px;
        margin-top: 30px;
      }

      @media (max-width: 360px) {
        width: 100%;
        padding: 0 20px;
      }

      .adv-item {
        margin: 0;
      }
    }
  }
}
